{% extends 'first_app/base.html' %}
{% load custom_tags %}

{% block title %} Create Department {% endblock %}

{% block content %}
<a href="{% url 'dept_list'  %}"> Dept List</a>
<br>

<label>Current Date:  {% now "d-M-Y" %}</label>

<label> user Name: {{ 'badra'|title }}</label>
formated user name: {{'Badra Narayana' }}
<br>

<label> First Name: {{ 'badra narayana'| modify_name:'first_name' }}</label>
<br>
<label> Last Name: {{ 'badra narayana'| modify_name:'last_name' }}</label>
<br>
<label> Title Case: {{ 'badra narayana'| modify_name:'title_case' }}</label>
<br>
{% comment %}
<!--<label> Upper Case: {{ 'badra narayana'| modify_name:'' }}</label>-->
<!--<br>-->
<!--<label> first name title Case: {{ 'badra narayana'| modify_name:'first_name' | modify_name:"upper_case"  }}</label>-->


<!--<h1> Django Custom tages:</h1>-->

<!--current Date and Tme: {% current_time "%d-%m-%Y %H:%M:%S %p" %}-->
<!--<br>-->
<!--Current Time: {% current_time "%H:%M:%S %p" %}-->
<!--<br>-->
{% endcomment %}
<!--<form action=""  method="POST">-->
<!--    {% csrf_token %}-->

<!--    <label> Name: </label> <input type="text" name="deptName">-->
<!--    <br>-->
<!--    <label> Description: </label> <textarea rows="4" cols="10" name="deptDescription"></textarea>-->
<!--    <br>-->
<!--    <label> Location: </label> <input type="text" name="deptLocation">-->
<!--    <br>-->
<!--    <label> Pin Code: </label> <input type="text" name="deptPinCode">-->
<!--    <br>-->
<!--    <button type="submit"> Save </button>-->
<!--</form>-->




<h1> Users list</h1>
{% show_users_table %}

{% endblock %}

