{% extends 'first_app/base.html' %}

{% load custom_tags %}

{% block title %} Dept List {% endblock %}

{% block style %}

        h1 {
    color: green;;
    }
{% endblock %}

{% block content %}
<h1> Departments List: </h1>

<a href="{% url 'create_dept' %}"> Add Department</a>
<table border="1">
    <thead>
    <th> Dept Name</th>
    <th> Description</th>
    <th> location</th>
    <th> pincode</th>
    </thead>
    <tbody>
    {%  if departments %}
        {% for dept in departments %}
        <tr>
            <td> {{ dept.name }}</td>
            <td> {{ dept.description }}</td>
            <td> {{ dept.location }} </td>
            <td> {{ dept.pin_code }} </td>

        </tr>
        {% endfor %}

    {% endif %}
    </tbody>
</table>


<h1> display department name:</h1>
<ul>

{% for dept in departments %}
    <li>{{ dept.name }} </li>
{% endfor %}

    </ul>

<h1> User tables data</h1>

{% show_users_table %}


{% endblock %}