<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> DEpt List HTML</h1>

<a href="create"> Add Department</a>
<table border="1">
    <thead>
    <th> Dept Name</th>
    <th> Description</th>
    <th> location</th>
    <th> pincode</th>
    </thead>
    <tbody>
    {%  if departments %}
        {% for dept in departments %}
        <tr>
            <td> {{ dept.name }}</td>
            <td> {{ dept.description }}</td>
            <td> {{ dept.location }} </td>
            <td> {{ dept.pin_code }} </td>

        </tr>
        {% endfor %}

    {% endif %}
    </tbody>
</table>


<h1> display department name:</h1>
<ul>

{% for dept in departments %}
    <li>{{ dept.name }} </li>
{% endfor %}

    </ul>
</body>
</html>